table.table.table-striped.table-hover
  col(width=60)
  thead
    tr
      th
      th= t('Name')
      th.hidden-xs.hidden-sm= t('Phone')
      th
  tbody
    each user in users
      tr(data-user-id = user.get('id'))
        td
          a(href="/#users/" + user.get('id'))
            img.img-circle(src=user.getGravatarUrl(40))
        td
          div
            a(href="/#users/" + user.get('id'))= user.get('name')
          div
            a(href="mailto://" + user.get('email'))= user.get('email')
        td.hidden-xs.hidden-sm= user.get('phone')
        td.text-right
          if user.hasPermission('edit')
            .visible-xs
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
                  span.glyphicon.glyphicon-cog
                  |&nbsp
                  span.caret
                ul.dropdown-menu.dropdown-menu-right
                  li
                    a(href="/#users/" + user.get('id') + '/edit')= t('Edit')
                  li
                    a= t('Delete')
            .hidden-xs
              a.btn.btn-default.btn-xs(href="/#users/" + user.get('id') + '/edit')
                span.glyphicon.glyphicon-pencil
                |&nbsp;
                = t('Edit')
              |&nbsp;
              a.btn.btn-default.btn-xs.delete
                span.glyphicon.glyphicon-trash
                |&nbsp;
                = t('Delete')

.pagination-wrap
